# Default owner for all files
* @nagmanijobs

# Workflow and deployment ownership
.github/workflows/* @nagmanijobs
.github/scripts/* @nagmanijobs

# Hello world app ownership
hello-world/* @nagmanijobs
